*{
margin: 0;padding:0;
}
body{
    width: 100%;height:px;
}
header{
    width: 100%;height: 100px;background-color: rgba(0, 0, 0, 0.8);color: white;
}
header .hd-logo{
    width: 5%;height: 60px;line-height: 60px;text-align: center;position: relative;   color: aqua;background-image: url("../img/logo.jpg");background-size: cover;top: 36px;left: 3%;
}
.img_search{
    position: absolute;left: 88%;top: 8px;
}
header #search
{
    width: 100%;height: 30px;line-height: 30px;font-size: 17px;border: 3px solid rgba(255, 96, 144, 0.938);border-radius:  15px;
}
header .hd-search
{
    width: 25%;height: 100px;position: relative;left: 72%;border-radius: 15px;border: rgba(255, 96, 144, 0.938);top: 5px;
}
#banner{
    width: 100%;height: 500px;background-image: url("../img/tof2.jpg");background-size: cover;border-bottom: 5px solid aqua;
}
#banner .wlcm1{
    width: 35%;height: 25px;font-weight: bold;font-size: 23px;margin-left: 7%;
}
#banner .wlcm2{
    width: 45%;height: 18px;font-weight: bold;font-size: 18px;margin-left: 17%;display: block;position: relative;bottom:7.5px;
}
 #banner .ban-titre       /*--couvre banner--*/
{
    color: aqua;width: 25%;height: 200px;background-color: rgba(0, 0, 0, 0.5);padding-top: 40px;line-height: 15px;position: absolute;left: 20%;top:250px;   border-radius: 70px;
}
#banner .ban-titre:hover      /*--couvre banner--*/
{
    color:rgba(255, 96, 144, 0.938);width: 25%;height: 200px; background-color:rgba(0, 0, 0, 0.5);padding-top: 40px;line-height: 15px;position: absolute;left: 20%;top:250px;   border-radius: 70px;
}
section .sect1-titre{
    width: 100%;height: 100px;line-height: 100px;text-align: center;font-size: 25px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section .sect1-corps1{
    width: 100%;height: 400px;
}
section .sect1-corps1 .sect1-blc1
{
    width: 25%;height: 350px;border: 2px dotted aqua;display: inline-block;
    margin-left: 6.15%;margin-top: 50px;
}
section .sect1-corps1 .sect1-blc1:hover
{
    width: 25%;height: 350px;display: inline-block;
    margin-left: 6.15%;margin-top: 50px;transition: ease-in-out;transition-duration: 0.5s;transform: scale(1.05);
}
section .sect1-corps1 .sect1-blc1 .sect1-arti     /*--article en vente--*/
{
    width: 100%;height: 300px;background-image: url(../img/tof10.jpg);background-size: cover;
}
 section .sect1-corps1 .sect1-blc1 .sect1-describe   /*--description article--*/
{
    width: 100%;height: 50px;border: 1px solid black;text-align: center;line-height: 25px; font-size: 22px;color: black;
}
section .sect1-corps1 .sect1-blc2{
    width: 25%;height: 350px;border: 2px dotted aqua;display: inline-block;
    margin-left: 6.15%;margin-top: 50px;
}
section .sect1-corps1 .sect1-blc2:hover
{
    width: 25%;height: 350px;border: 2px dotted aqua;display: inline-block;
    margin-left: 6.15%;margin-top: 50px;transition: ease-in-out;transition-duration: 0.5s;transform: scale(1.05);
}
section .sect1-corps1 .sect1-blc2 .sect1-arti     /*--article en vente--*/
{
    width: 100%;height: 300px;background-image: url(../img/tof8.jpg);background-size: cover;
}
 section .sect1-corps1 .sect1-blc2 .sect1-describe   /*--description article--*/
{
    width: 100%;height: 50px;border: 1px solid black;text-align: center;line-height: 25px; font-size: 22px;color: black;
}
section .sect1-corps1 .sect1-blc3{
    width: 25%;height: 350px;border: 2px dotted aqua;display: inline-block;
    margin-left: 6.15%;margin-top: 50px;
}
section .sect1-corps1 .sect1-blc3:hover
{
    width: 25%;height: 350px;border: 2px dotted aqua;display: inline-block;
    margin-left: 6.15%;margin-top: 50px;transition: ease-in-out;transition-duration: 0.5s;transform: scale(1.05);
}
section .sect1-corps1 .sect1-blc3 .sect1-arti     /*--article en vente--*/
{
    width: 100%;height: 300px;background-image: url(../img/tof11.jpg);background-size: cover;
}
 section .sect1-corps1 .sect1-blc3 .sect1-describe   /*--description article--*/
{
    width: 100%;height: 50px;border: 1px solid black;text-align: center;line-height: 25px; font-size: 22px;color: black;
}
section .sect1-corps1 .sect1-blc4{
    width: 25%;height: 350px;border: 2px dotted aqua;display: inline-block;
    margin-left: 6.15%;margin-top: 50px;
}
section .sect1-corps1 .sect1-blc4:hover
{
    width: 25%;height: 350px;border: 2px dotted aqua;display: inline-block;
    margin-left: 6.15%;margin-top: 50px;transition: ease-in-out;transition-duration: 0.5s;transform: scale(1.05);
}
section .sect1-corps1 .sect1-blc4 .sect1-arti     /*--article en vente--*/
{
    width: 100%;height: 300px;background-image: url(../img/tof6.jpg);background-size: cover;
}
 section .sect1-corps1 .sect1-blc4 .sect1-describe   /*--description article--*/
{
    width: 100%;height: 50px;border: 1px solid black;text-align: center;line-height: 25px; font-size: 22px;color: black;
}
section .sect1-corps1 .sect1-blc5{
    width: 25%;height: 350px;border: 2px dotted aqua;display: inline-block;
    margin-left: 6.15%;margin-top: 50px;
}
section .sect1-corps1 .sect1-blc5:hover
{
    width: 25%;height: 350px;border: 2px dotted aqua;display: inline-block;
    margin-left: 6.15%;margin-top: 50px;transition: ease-in-out;transition-duration: 0.5s;transform: scale(1.05);
}
section .sect1-corps1 .sect1-blc5 .sect1-arti     /*--article en vente--*/
{
    width: 100%;height: 300px;background-image: url(../img/tof7.jpg);background-size: cover;color: black;
}
 section .sect1-corps1 .sect1-blc5 .sect1-describe   /*--description article--*/
{
    width: 100%;height: 50px;border: 1px solid black;text-align: center;line-height: 25px; font-size: 22px;color: black;
}
section .sect1-corps1 .sect1-blc6{
    width: 25%;height: 350px;border: 2px dotted aqua;display: inline-block;
    margin-left: 6.15%;margin-top: 50px;
}
section .sect1-corps1 .sect1-blc6:hover
{
    width: 25%;height: 350px;border: 2px dotted aqua;display: inline-block;
    margin-left: 6.15%;margin-top: 50px;transition: ease-in-out;transition-duration: 0.5s;transform: scale(1.05);
}
section .sect1-corps1 .sect1-blc6 .sect1-arti     /*--article en vente--*/
{
    width: 100%;height: 300px;background-image: url(../img/tof9.jpg);background-size: cover;
}
 section .sect1-corps1 .sect1-blc6 .sect1-describe   /*--description article--*/
{
    width: 100%;height: 50px;border: 1px solid black;text-align: center;line-height: 25px; font-size: 22px;color: black;
}
footer{
    width: 100%;height: 250px;background-image: url("../img/tof5.jpg");color: oldlace;margin-top: 50px;background-size: cover;
}
footer .foot{
    width: 100%;height: 250px;background-color: black;opacity: 0.7;color: oldlace;margin-top: 50px;
}
footer .fot{
    width: 28%;height: 200px;border: 1px  solid black ;display: inline-table;margin-top: 25px;margin-left: 4%;font-size: 25px;font-family: "Impact", "Haettenschweiler", 'Arial Narrow Bold', "sans-serif";
}
footer .fot .ft-blc{
    width: 100%;height: 150px;border: 1px solid black;margin-left: auto;margin-right: auto;margin-top: 22px;font-size: 17px;line-height: 22px;    font-family: "calibri";word-wrap: wrap;
}
footer .fot .ft-blc2{
    width: 100%;height: 150px;border: 1px solid black;margin-left: auto;margin-right: auto;margin-top: 10px;font-size: 14px;font-family: "calibri";word-wrap: wrap;
}
ul{
    line-height: 30px;list-style-type: none;
}
.fab{
    font-size: 22px;background-color: white;text-transform: none;text-decoration: none;
}
a{
    text-decoration: none;color:white;font-size: 15px;
}

/*--site2 en css--*/

.site2-body{
    background-color: white;
}
.site2-blc1{
    width: 65%;height: 1095px;
}
.site2-blc2{
    width: 35%;height: 1095px;
}
.site2-foto{
    width: 100%;height: 425px;background: url("../img/tof4.jpg");background-size:cover ;
}
.site2-describe{
    width: 100%;height: 380px;
}
.site2-describe-blc1{
    width: 100%;height: 150px;background-color: yellow;
}
.site2-auteur-img{
    float: left;height: 150px;width: 27%;position: relative;top: 5px;left: 5%;background-size: cover;background-image: url("../img/auteur.jpg");
}
.site2-auteur{font-size: 12px;background: pink;float: right;height: 150px;width: 60%;position: relative;top: 5px;
}
.site2-form{
    width: 100%;height: 290px;background-color: fuchsia;
}
#bloc_page{
    display: flex;width: 100%;height: 625px;
}
.site2-titre{
    width: 35%;height: 35px;line-height: 35px;font-size: 20px;text-align: center;color: aquamarine;background-color: rgba(0, 0, 0, 0.78);text-shadow: 3px 2px 2px white;    border: 1px solid black;margin-right: auto;margin-left: auto;margin-top: 10px;
}
.site2-similaire1{
    width: 75%;height: 180px;border: 1px solid black;margin-left: auto;margin-right: auto;margin-top: 27px;background: url("../img/tof1.jpg");background-size:cover ;
}
.site2-similaire2{
    width: 75%;height: 180px;border: 1px solid black;margin-left: auto;margin-right: auto;margin-top: 27px;background: url("../img/tof1.jpg");background-size:cover ;
}
.site2-similaire3{
    width: 75%;height: 180px;border: 1px solid black;margin-left: auto;margin-right: auto;margin-top: 27px;background: url("../img/tof1.jpg");background-size:cover ;
}
.site2-similaire4{
    width: 75%;height: 180px;border: 1px solid black;margin-left: auto;margin-right: auto;margin-top: 27px;background: url("../img/tof1.jpg");background-size:cover ;
}
.site2-similaire5{
    width: 75%;height: 180px;border: 1px solid black;margin-left: auto;margin-right: auto;margin-top: 27px;background: url("../img/tof1.jpg");background-size:cover ;
}
.entete{
    width: 100%;height: 50px;background-color: aqua;
}



.site2-footer{
    width: 100%;height: 160px;background-image: url("../img/tof5.jpg");color: oldlace;margin-top: 470px;background-size: cover;
}
footer .site2-foot{
    width: 100%;height: 160px;background-color: black;opacity: 0.7;color: oldlace;margin-top: 20px;line-height: 12px;
}
footer .site2-fot{
    width: 28%;height: 90px;padding-top: 18px;display: inline-table; margin-left: 4%;font-size: 12px;font-family: "Impact", "Haettenschweiler", 'Arial Narrow Bold', "sans-serif";
}
.site2-ft-blc{
    width: 90%;height: 100px;margin-left: auto;margin-right: auto;margin-top: 15px;font-size: 14px;line-height: 19px;font-family: "calibri";word-wrap: wrap;
}
footer .fot .site2-ft-blc2{
    width: 100%;border: 1px solid black; margin-left: auto;margin-right: auto;margin-top: 10px;font-size: 14px;font-family: "calibri";word-wrap: wrap;
}
.site2-ul{
    line-height: 20px;list-style-type: none;;padding-top: 15px;font-family: "calibri";
}
.fab{
    font-size: 14px;background-color: fuchsia;
}
a{
    text-decoration: none;color:white;font-size: 15px;
}
.fa-phone{
    font-size: 12px;color:fuchsia;
}
.fa-home{
    font-size: 12px;color:fuchsia;
}
.fa-share{
    font-size: 12px;color:fuchsia;
}
.fa-spinner{
    font-size: 20px;color: rgba(255, 96, 144, 0.938);
}
h1{
    line-height: 60px;font-size: 40px;text-align: center;
}
h2,h3{
    line-height: 30px;
}


